@model IEnumerable<TicketSystem.Models.Account>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Select a user</h1>
</div>

@foreach (var item in Model)
{
    <form asp-controller="Home" asp-action="Menu"  asp-route-id="@item.ID">
        <input type="submit" value="@item.Name" class="btn btn-primary" />
    </form>
    <br />
}