@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<ul>
    @for (int i = 0; i < (int)ViewData["N"]; i++)
    {
        <li>@ViewData["M"]</li>
    }
</ul>
